 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 * { box-sizing: border-box; }
 html { font-size: 62.5%; }
 body {
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #efefef;
 }
 h1 {
    font-size: 5rem;
    color: #393c6c;
    font-weight: 700;
 }
 h2, .likeH2 {
    font-size: 3rem;
    color: #f3735f;
    margin: 7rem 0 2rem;
 }
 h3, .likeH3 {
    font-size: 1.8rem;
    color: #393c6c;
 }
 p {
    margin-bottom: 1rem;
    line-height: 2;
 }
 li {
    margin: 0.5rem 0;
 }
/*** CLASSES ***/
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.encart {
    border-radius:10px;
    padding: 1rem;
    font-weight: 700;
    background-color: rgb(138,152,177);
    display: inline-block;
    min-width: 250px;
    margin: 2rem;
    color: #fff;
}
.center {
    text-align: center;
}
.bold {
    font-weight: 700;
}
.list {
    list-style:circle;
    padding-left: 2rem;
}
.gallery {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -1rem;
}
 /*** header ***/
 header {
    background-color: #fff;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f3735f;
 }

 /*** main ***/
 main section.container {
    background-color: #fff;
    padding: 6rem 3rem;
    border-radius: 2rem;
 }
 .gallery img {
    height: 300px;
    width: calc(33.33% - 2rem);
    border-radius: 5px;
    margin: 1rem;
    object-fit: cover;
 }
 /*** footer ***/
 footer {
    padding: 2rem;
 }
 footer > .container {
    padding: 4rem 2rem;
 }